body{
    background-image : url("ezgif.com-gif-maker.gif");
    text-align: center;
    
}


h1{
	font-family: 'Bangers', cursive; 
	color: #595359;
	text-shadow: 2px 2px #ffffff; 
    margin-top: 100px;
    font-size: 105px;
    
}

p{
 padding:100px 20px 100px 20px;
 margin-top: 50px;
 font-size: 25px;
 color: white;
 font-weight: bold;
}


.speech-bubble {
	position: relative;
	background: #32b4ff;
	border-radius: .4em;
	outline-style: solid;
	outline-color: #f9f9f9;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top-color:#32b4ff;
	border-bottom: 0;
	margin-left: -20px;
	margin-bottom: -20px;
}

.btn {
	font-family: 'Yesteryear', cursive;
	background-color:#ed25a4;
}

.page {
 animation-name: fade;
 animation-duration: 3s; 
 animation-fill-mode: forwards; 
}